a {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.tinola,
.sinigang {
    font-family: 'Courier New', Courier, monospace;
}

.tinola {
    background-color: green;
}

.sinigang {
    background-color: orange;
    color: black;
}